{erl_opts, [warnings_as_errors]}.
{port_env, [{"CFLAGS", "$CFLAGS -O3 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wall -std=c99"}]}.

{port_specs, [
    {"priv/ecql_stream.so", ["c_src/ecql_decoding.c"]},
    {"benchmark/decoding/ecql_decoding.so", ["benchmark/decoding/ecql_decoding.c"]}
]}.

{eunit_opts, [{generator, ecql_test, generator}]}.

{pre_hooks, [
    {compile, "make -C c_src"},
    {eunit, "mkdir -p ./eunit && ./test/ensure_cassandra.sh > .eunit/cassandra.ip"}
]}.

{posthooks_hooks, [
    {clean, "make -C c_src clean"}
]}.
